<!DOCTYPE html>
<html lang="en">
<head>
<title>Bolt</title>
<script src="jquery-3.6.0.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body">
  <div id="header" class="headermain"></div>

<div class="UHbar-parent">
  <div class="UHbar">
      <span class="sidebar_button" onclick="openNav()">&#9776; open</span>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="./index.html">main</a>
        <a href="#">Restaurants</a>
        <a href="#">Shops</a>
        <a href="#">Something</a>
      </div>
  </div>
  <div class="search-container UHbar">
    <form action="#">
      <input type="text" placeholder="Search.." name="search" class="search-bar">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="UHbar">
    <div class="dropdown">
      <button class="dropbtn">Basket</button>
      <div class="dropdown-content">
        <a href="#">food1</a>
        <a href="#">food2</a>
        <a href="./cart.html">finish order</a>
      </div>
    </div>
  </div>
</div>

<div id="intro" class="flex-parent-intro">
  <div class="intro-box-logo"> <img src="pictures/temp.jpg" alt="logo" class="logo-intro"> </div>
  <div class="intro-box-moto"> moto moto moto moto moto moto moto moto moto moto moto moto moto moto moto moto </div>
</div>

<div class="flex-parent">
  <a href="./store.html" class="box">

  </a>
  <a href="./store.html" class="box">

  </a>
  <a href="./store.html" class="box">

  </a>
  <a href="./store.html" class="box">

  </a>
</div>

<footer>
  <p>Footer</p>
</footer>

<script src="app.js"></script>
</body>
</html>
