<!DOCTYPE html>
<html lang="en">
<head>
<title>Bolt</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>
<body class="body">
  <div id="header" class="headermain"></div>

<div class="UHbar-parent">
  <div class="UHbar">
      <span class="sidebar_button" onclick="openNav()">&#9776; open</span>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="./index.html">main</a>
        <a href="#">Restaurants</a>
        <a href="#">Shops</a>
        <a href="#">Something</a>
      </div>
  </div>
</div>

<div class="flex-parent">
  <div class="obox">
    <div class="obo">
      <p>Pečenka s prilogo</p>
    </div>
    <div class="obn">
      <p>Marcel Kumer</p>
    </div>
  </div>
  <div class="obox">
    <div class="obo">
      <p>Pečenka s prilogo</p>
    </div>
    <div class="obn">
      <p>Marcel Kumer</p>
    </div>
  </div>
  <div class="obox">
    <div class="obo">
      <p>Pečenka s prilogo</p>
    </div>
    <div class="obn">
      <p>Marcel Kumer</p>
    </div>
  </div>
  <div class="obox">
    <div class="obo">
      <p>Pečenka s prilogo</p>
    </div>
    <div class="obn">
      <p>Marcel Kumer</p>
    </div>
  </div>
</div>

<footer class="footer">
  <p>Footer</p>
</footer>

<script src="app.js"></script>
</body>
</html>
