<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bolt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
  <div class="div-header-container">
    <div class="divlogo">  <img src="Pictures/Temp.jpg" alt="logo" class="logo"> </div>
    <div class="dropdown">
      <button class="dropbtn">Account</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</header>
<div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" class="search-bar">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
<div id="intro" class="flex-parent-intro">
  <div class="intro-box-logo"> <img src="Pictures/Temp.jpg" alt="logo" class="logo-intro"> </div>
  <div class="intro-box-moto"> moto moto moto moto moto moto moto moto moto moto moto moto moto moto moto moto </div>
</div>
<div class="flex-parent">
  <div class="box">  </div>
  <div class="box">  </div>
  <div class="box">  </div>
  <div class="box">  </div>
</div>
<footer>
  <p>Footer</p>
</footer>

</body>
</html>
