* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 10px 10px 10px 10px;
}

.div-header-container {
  height: 7vh;
  width: 100%;
}

.logo {
  height: 70px;
  width: 70px;
  float: left;
}
 /*Account dropdown*/

 .dropdown {
   position: relative;
   display: inline-block;
   float: right;
 }

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: auto;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*Sidebar,searchbar,cart*/
.UHbar-parent {
  display: flex;
}

.UHbar {
  flex: 1;
}

/*sidebar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar_button {
  font-size: 30px;
  cursor: pointer;
}

/*Search bar*/
.search-container {
  margin: auto;
  width: 30%;
  background: gray;
}

input[type=text] {
  padding: 6px;
  margin: 2px 2px 2px 2px;
  width: 90%;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin: 2px 2px 2px 2px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

/*logo*/
.logo-intro {
  max-height: 100%;
  max-width: 100%;
  align: left;
}

.flex-parent-intro {
  display: flex;
  align-items: center;
  max-height: calc(100vh - 350px);
}

.intro-box-logo {
  margin: 50px 50px 50px 50px;
  width: 30%;
  float: left;
}

.intro-box-moto {
  background-color: gray;
  margin: 50px 20px 50px 50px;
  width: 70%;
  float: right;
}

.flex-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 99.9%;
}

/*restaurants - ko iz baze spremeni, da bo modularno*/
.box {
  flex: 1;
  background-color: red;
  padding: 200px;
  width: 20%;
}

/* Style the footer */
footer {
  background-color: #777;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}
/*store style*/
.store-box-logo {
  margin: 50px 50px 50px 50px;
  width: 30%;
  float: left;
}

.store-box-moto {
  width: 70%;
  float: right;
}

.box-moto-label {
  background-color: gray;
  margin-top: 5px;
  font-size: 30px;
}

/*cart style*/
.flex-parent-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.cart-box-iinfo {
  flex: 4;
  width: 20%;
  margin-left: 6%;
  font-size: 25px;
}

.cart-box-uinfo {
  background-color: rgb(217, 219, 219);
  border: 2px solid black;
  border-radius: 4px;
  padding-left: 5px;
  margin-bottom: 8px;
}

.uinfo-c {
  display: flex;
}

.l-ci {
  flex: 7;
}

.a-cc {
  flex: 3;
  text-align: right;
  padding-right: 5px;

}

.uinfo-l {
  display: flex;
}

.l-li {
  flex: 7;
}

.a-lc {
  flex: 3;
  text-align: right;
  padding-right: 5px;

}

.cart-box-pinfo {
  background-color: rgb(217, 219, 219);
  border: 2px solid black;
  border-radius: 4px;
  padding-left: 5px;
  margin-bottom: 8px;

}

.cart-box-ginfo {
  background-color: rgb(217, 219, 219);
  border: 2px solid black;
  border-radius: 4px;
  padding-left: 5px;
  margin-bottom: 8px;

}

.cart-box-items {
  flex: 6;
  width: 20%;
  column-gap: 3rem;
}

.cart-box-item {
  display: grid;
  grid-row-gap: 2%;
  grid-template-columns: 75% 25%;
  width: 80%;
  margin-left: 4%;
  font-size: 25px;
}

.iteminfo {
  background-color: rgb(217, 219, 219);
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px 0 5px 3px;
}

.itemcost {
  background-color: lightgray;
  text-align: right;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px 3px 5px 0;
}

.cart-bc {
  float: right;
  margin: 5% 3% 0 0;
}

.cart-button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cart-button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.cart-button:hover {
  background-color: #008CBA;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  margin-left: 1%;
  background-color: gray;
  color: white;
  text-align: center;
}
